@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #00a2c6;
  padding: 5px;
  top: 0;
}

header {
  display: inline;
}

#content {
  float: left;
  width: 75%;
}

aside {
  float: right;
  width: 25%;
  padding-left: 20px;
}

main {
  padding: 20px;
  overflow: auto;
}

main {
  padding: 20px;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

nav a:hover {
  font-weight: bold;
}

h2 {
  color: #00a2c6;
}

h3 {
  color: #00a2c6;
}

footer {
  padding: 20px;
  color: white;
  background-color: #00a2c6;
}

.profile header {
  text-align: center;
}

.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.profile img {
  width: 200px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #00c8eb;
  text-align: center;
  color: white;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

nav {
  background-color: #00a2c6;
  padding: 5px;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1000px) {
  #content,
  aside {
    width: 100%;
    padding: 0;
  }
}
