/* Reset Property Default CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* End Reset CSS */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #edf2f7;
}

.contact-section {
  background-color: #f9f9ff;
  color: #777777;
  height: 42px;
  display: flex;
  align-items: center; /* align vertical */
  text-decoration: none;
}

.font-awesome {
  text-align: left;
  font-size: 14px;
}

.icon {
  margin-left: 15px;
}

.contact-information {
  display: block;
  float: right;
  font-size: 12px;
}

.url-header {
  margin-left: 25px;
  text-decoration: none;
  color: #777777;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

.right-contact-nav {
  display: block;
  float: right;
}

.left-contact-nav {
  display: block;
  float: left;
}

.jumbotron-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
}

.url-fixer {
  text-decoration: none;
  color: #777777;
}

li span {
  background-image: linear-gradient(transparent calc(75% - 5px), #c00dff 5px);
  background-size: 0;
  background-repeat: no-repeat;
  display: inline;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
li:hover span {
  background-size: 100%;
}

nav {
  background-color: #ffffff;
  padding: 25px;
  text-align: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0), 0 6.7px 5.3px rgba(0, 0, 0, 0.001),
    0 12.5px 10px rgba(0, 0, 0, 0.004), 0 22.3px 17.9px rgba(0, 0, 0, 0.01),
    0 41.8px 33.4px rgba(0, 0, 0, 0.022), 0 100px 80px rgba(0, 0, 0, 0.05);
  top: 0;
  z-index: 5;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #222222;
}

.more-info {
  margin-top: 20px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.jumbotron-card {
  background-color: #ffffff;
  margin: -40px auto;
  padding: 20px;
  border-radius: 5px;
  z-index: 3;
  position: relative;
  text-align: center;
  box-shadow: 0 0.9px 2.2px rgba(0, 0, 0, 0.003),
    0 2.1px 5.3px rgba(0, 0, 0, 0.007), 0 3.9px 10px rgba(0, 0, 0, 0.013),
    0 6.9px 17.9px rgba(0, 0, 0, 0.023), 0 13px 33.4px rgba(0, 0, 0, 0.041),
    0 31px 80px rgba(0, 0, 0, 0.09);
}

.article-card {
  background-color: #ffffff;
  box-shadow: 0 0.9px 2.2px rgba(0, 0, 0, 0.003),
    0 2.1px 5.3px rgba(0, 0, 0, 0.007), 0 3.9px 10px rgba(0, 0, 0, 0.013),
    0 6.9px 17.9px rgba(0, 0, 0, 0.023), 0 13px 33.4px rgba(0, 0, 0, 0.041),
    0 31px 80px rgba(0, 0, 0, 0.09);

  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.contact-article-card {
  background-color: #ffffff;
  box-shadow: 0 0.9px 2.2px rgba(0, 0, 0, 0.003),
    0 2.1px 5.3px rgba(0, 0, 0, 0.007), 0 3.9px 10px rgba(0, 0, 0, 0.013),
    0 6.9px 17.9px rgba(0, 0, 0, 0.023), 0 13px 33.4px rgba(0, 0, 0, 0.041),
    0 31px 80px rgba(0, 0, 0, 0.09);

  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.more-info-article-card {
  background-color: #ffffff;
  box-shadow: 0 0.9px 2.2px rgba(0, 0, 0, 0.003),
    0 2.1px 5.3px rgba(0, 0, 0, 0.007), 0 3.9px 10px rgba(0, 0, 0, 0.013),
    0 6.9px 17.9px rgba(0, 0, 0, 0.023), 0 13px 33.4px rgba(0, 0, 0, 0.041),
    0 31px 80px rgba(0, 0, 0, 0.09);

  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.inline-flex {
  display: inline;
}

.mt-80 {
  margin-top: 80px;
}

.text-center {
  text-align: center;
}

.subjudul {
  font-size: 30px;
}

.active {
  color: #c00dff;
}

.jumbotron-card h1 {
  font-size: 30px;
}

footer {
  background-color: #c00dff;
  padding: 10px;
  color: white;
  text-align: center;
  position: fixed;
  clear: both;
  position: relative;
  height: 20px;
  margin-top: -200px;
}

/* .skill-list {
  display: inline;
  float: left;
} */

.main-col {
  background-color: #ffffff;
  box-shadow: 0 0.9px 2.2px rgba(0, 0, 0, 0.003),
    0 2.1px 5.3px rgba(0, 0, 0, 0.007), 0 3.9px 10px rgba(0, 0, 0, 0.013),
    0 6.9px 17.9px rgba(0, 0, 0, 0.023), 0 13px 33.4px rgba(0, 0, 0, 0.041),
    0 31px 80px rgba(0, 0, 0, 0.09);

  border-radius: 5px;
  padding: 20px;
  float: left;
  width: 66%;
}

.secondary-col {
  background-color: #ffffff;
  box-shadow: 0 0.9px 2.2px rgba(0, 0, 0, 0.003),
    0 2.1px 5.3px rgba(0, 0, 0, 0.007), 0 3.9px 10px rgba(0, 0, 0, 0.013),
    0 6.9px 17.9px rgba(0, 0, 0, 0.023), 0 13px 33.4px rgba(0, 0, 0, 0.041),
    0 31px 80px rgba(0, 0, 0, 0.09);

  border-radius: 5px;
  padding: 20px;
  float: right;
  width: 25%;
  background-color: black;
  margin-bottom: 50px;
}

.profile-photo {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
